In [1]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

In [5]:
X = pd.read_csv('./X_train.csv')
X_test = pd.read_csv('./X_test.csv')
y = pd.read_csv('./y_train.csv')

In [9]:
X.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,BMI,Negatives
0,0,1.0,24.443011,1.699998,81.669950,1.0,1.0,2.000000,2.983297,2.0,0.0,2.763573,0.0,0.000000,0.976473,1.0,3.0,28.259565,1.976473
1,1,0.0,18.000000,1.560000,57.000000,1.0,1.0,2.000000,3.000000,1.0,0.0,2.000000,0.0,1.000000,1.000000,2.0,0.0,23.422091,3.000000
2,2,0.0,18.000000,1.711460,50.165754,1.0,1.0,1.880534,1.411685,2.0,0.0,1.910378,0.0,0.866045,1.673584,2.0,3.0,17.126706,3.673584
3,3,0.0,20.952737,1.710730,131.274851,1.0,1.0,3.000000,3.000000,2.0,0.0,1.674061,0.0,1.467863,0.780199,1.0,3.0,44.855798,1.780199
4,4,1.0,31.641081,1.914186,93.798055,1.0,1.0,2.679664,1.971472,2.0,0.0,1.979848,0.0,1.967973,0.931721,1.0,3.0,25.599151,1.931721

In [6]:
from sklearn.preprocessing import StandardScalers
scaler = StandardScaler() 
X_scaled = scaler.fit_transform(X)
X_test_scaled = scaler.transform(X_test)

In [8]:
scaler.feature_names_in_

array(['id', 'Gender', 'Age', 'Height', 'Weight',
       'family_history_with_overweight', 'FAVC', 'FCVC', 'NCP', 'CAEC',
       'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS', 'BMI',
       'Negatives'], dtype=object)

In [10]:
X = pd.DataFrame(X_scaled,columns= scaler.feature_names_in_)
X_test = pd.DataFrame(X_test_scaled, columns= scaler.feature_names_in_)

In [13]:
X_test.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,BMI,Negatives
0,1.732134,1.004152,0.537644,1.695675,1.241770,0.469099,0.30588,0.924049,0.338364,0.337845,-0.109287,1.308584,-0.185009,-0.150721,-1.024344,-0.471288,0.429319,0.608799,-1.072536
1,1.732301,-0.995866,-0.499620,-1.148152,-0.829748,0.469099,0.30588,-0.836279,-2.497077,0.337845,-0.109287,1.595165,-0.185009,0.021775,-1.024344,-0.471288,0.429319,-0.535245,-1.072536
2,1.732468,-0.995866,0.379434,-0.651587,0.898933,0.469099,0.30588,1.039171,0.338364,0.337845,-0.109287,0.973714,-0.185009,-1.171141,-0.608296,-0.471288,0.429319,1.329809,-0.764811
3,1.732635,1.004152,-0.503267,-1.685011,0.598259,0.469099,0.30588,-0.836279,0.307045,0.337845,-0.109287,1.244138,-0.185009,-1.057992,-1.024344,-0.471288,0.429319,1.528138,-1.072536
4,1.732802,-0.995866,0.379434,-0.834373,0.642469,0.469099,0.30588,1.039171,0.338364,0.337845,-0.109287,1.025738,-0.185009,-1.171141,0.206466,-0.471288,0.429319,1.121023,-0.162181

In [31]:
knn = KNeighborsClassifier(n_jobs=-1)
params = {
    'n_neighbors' : [5,6,7,8,9,10,11,12,13,14,15,16,17]
}

In [22]:
from datetime import datetime
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [34]:
grid = GridSearchCV(knn,param_grid= params,cv=5,n_jobs=-1)
start_time = timer(None)
grid.fit(X,np.ravel(y,order='C'))
timer(start_time)
print('\n Best estimator:')
print(grid.best_estimator_)
print('\n Best score:')
print(grid.best_score_ * 2 - 1)
print('\n Best parameters:')
print(grid.best_params_)

 Time taken: 0 hours 0 minutes and 10.09 seconds.

 Best estimator:
KNeighborsClassifier(n_jobs=-1, n_neighbors=11)

 Best score:
0.5211479788281392

 Best parameters:
{'n_neighbors': 11}